*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    
    }
    header{
        width: 100%;
        height: 100vh;
        background-image: url(../images/burger1.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .mainheader{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mainheader .logo img{
        width: 250px; height: 80px;
        padding-left: 60px;

    }

    .mainheader nav{
        width: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mainheader nav a{
        text-decoration: none;
        color: rgb(248, 242, 242);
        text-transform: uppercase;
    }

    

    main{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    
    }
    
    main .left-sec{
        padding-left: 100px;
        
    }

    .left-sec h2{
        font-size: 20px;
        text-transform: capitalize;
        font-weight: lighter;
        color: #FFF;
        margin-top: 340px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .left-sec h1{
        font-size: 20px;
        text-transform: capitalize;
        font-weight: lighter;
        color: #FFF;
    }

    .left-sec h1{
        font-size: 65px;
        text-transform: capitalize;
        font-weight: 700;
        margin:30px 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .left-sec button{
        padding: 10px 45px;
        text-align: center;
        font-size: 14px;
        color: black;
        border: none;
        background-color: burlywood;
        border-radius: 10px;
    
    }


    
